<div class="row" ng-controller="modifyConfig">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="alert alert-success alert-dismissable fade in hide" role="alert" id="addSuccess">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <p><i class="icon fa fa-check"></i> <strong>恭喜！</strong>内容添加成功</p>
                </div>
                <p class="myInfoBox bg-warning text-warning"><i class="icon fa fa-warning"></i> 信息填写完整无误才可提交</p>
            </div>
            <div class="box-body">
                <form role="form" class="form-horizontal" name="myForm" ng-submit="processForm()" novalidate>

                    <div class="form-group">
                        <label class="control-label col-sm-3">缩略图</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="uploadContentImg" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic2</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic2" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic3</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic3" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg3">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic4</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic4" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg4">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic5</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic5" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg5">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic6</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic6" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg6">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic7</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic7" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg7">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic8</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic8" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg8">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic9</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic9" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg9">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic10</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic10" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg10">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic11</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic11" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg11">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic12</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic12" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic13</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic13" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg13">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic14</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic14" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg14">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic15</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic15" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg15">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic16</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic16" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg16">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">pic17</label>
                        <div class="col-sm-3">
                            <input type="file" name="uploadify" id="pic17" />
                            <img src="" alt="" width="120" height="120" class="img-thumbnail" id="myImg17">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">str1</label>
                        <div class="col-sm-6">
                            <textarea class="form-control input-sm " name="discription" ng-model="formData.str1"    cols="30" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">str2</label>
                        <div class="col-sm-6">
                            <textarea class="form-control input-sm " name="discription" ng-model="formData.str2"    cols="30" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">str3</label>
                        <div class="col-sm-6">
                            <textarea class="form-control input-sm " name="discription" ng-model="formData.str3"    cols="30" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">str4</label>
                        <div class="col-sm-6">
                            <textarea class="form-control input-sm " name="discription" ng-model="formData.str4"    cols="30" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" >确认</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

