/*文档列表*/
body {
    font: 14px "Hiragino Sans GB", Helvetica, Arial, "Microsoft Yahei";
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #1875d1;
    text-decoration: none;
}
a , input{
    outline: none;
}
ul li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em {
    color: #aaa;
    font-size: 12px;
    font-style: normal;
}

.logo {
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
}

.left-frame .pagenation {
    margin: 40px 0px;
}

.post-meta {
    padding-left: 0;
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
}

.post-meta li {
    display: inline-block;
    margin: 0 10px;
}

.post-meta li a {
    color: #1875d1
}

.post {
    border-bottom: 1px solid #eee;

    list-style: outside none none;
    padding: 40px 20px;
    position: relative;
}

.post:last-child {
    border: none;
}

.post h2.post-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

.post .post-content {
    color: #787878;
    line-height: 200%;
}

.post .span-mark {
    background-color: #1875d1;
    color: white;
    padding: 4px 8px;
    position: absolute;
    right: 15px;
    top: 120px;
    z-index: 9;
}

.footer {

    border-top: 1px solid #ededed;
    clear: both;
    color: #5b5b5b;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    background-color: #B7EFAD;
}
.footer #link a{
    padding: 10px 5px;
}
/*用户注册*/
.loginBoard, .regBoard, .conformBoard, .reSetPsdBoard {
    background-color: white;
    border: 1px solid #d9d9d6;
    border-radius: 6px;
    box-shadow: 0 0 6px #aaa;
    padding: 30px 40px;
}

.loginBoard, .regBoard label, .conformBoard label, .reSetPsdBoard label {
    font-weight: normal;
    font-family: "Microsoft Yahei", "冬青黑体简体中文 w3"
}

.ulogo img {
    width: 38px;
}

.ulogo .dropdown-toggle {
    padding: 5px 0;
}

/*消息提醒*/
.notifyList em, .uInfos em, .setPsd em {
    font-size: 18px;
}

.notifyList ul {
    padding-top: 30px;
}

.notifyList .noMsg {
    background-color: #f3f3f3;
    color: #aaa;
    margin: 30px;
    padding: 10px;
}

/*用户消息*/
.notifyList {
}

.notifyList .toolbar {
    height: 40px;
    line-height: 36px;
    background: #f3f3f3;
    padding: 0 10px;
}

.notifyList .datalist {
    padding: 0 10px;
    margin-top: 10px;
}

.notifyList .mini {
    margin-top: 12px;
    float: left;
}

.notifyList ul {
    padding: 15px;
}

.notifyList ul li {
    border-bottom: 1px dashed #f0f0f0;
    line-height: 35px;
    padding-left: 10px;
}

.notifyList ul li .title {
    cursor: pointer;
    display: inline-block;
    width: 95%;
}

.notifyList ul li {
    font-weight: normal;
}

.notifyList ul li.noRead i {
    color: #0da3e2;
    font-weight: 700;
}

.notifyList ul li.noRead {
    font-weight: 700;
}

.notifyList ul li.noRead a:link {
    color: #000000
}

.notifyList ul li span.more {
    font-weight: normal;
    padding: 0 22px;
    display: none;
}

/*用户信息设置*/
.uInfos label, .setPsd label {
    clear: both;
    color: #aaa;
    display: block;
    padding-bottom: 5px;
}

/*分页*/
.pagenation {
    text-align: left;
}

.pagenation ul {
    margin: 0;
    padding: 0;
}

.pagenation li {
    float: left;
    list-style: none;
    margin: 0 0 10px 10px;
}

.pagenation li.active a {
    background-color: #1875d1;
    color: #fff;
}

.pagenation li a {
    background-color: #eee;
    color: #1875d1;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
}

/*搜索框*/
.search {
    position: relative;
}

.search .ipt-search {
    background-color: #eee;
    border: medium none;
    border-radius: 38px;
    font-size: 14px;
    height: 34px;
    width: 220px;
    padding: 8px;
    margin-right: 10px !important;
}

.ipt-search {
    border: 0 none;
    font-size: 24px;
    height: 30px;
    padding: 10px;
}

.search .btn-search {
    background-color: transparent;
    background-image: url("../images/search_s.png");
    height: 38px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 42px;

}

.btn-search {
    background: #dd3f3a url("../images/search.png") no-repeat scroll center center;
    color: white;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    width: 60px;
    border: none;
}

/*分类列表页*/
.archive-title {
    font-size: 28px;
    padding: 0 0 20px;
}

.msgList {
}

.msgList .media-logo img {
    border-radius: 50%;
}

.msgList h3 {
    font-weight: normal;
    font-size: 14px;
}

.msgBoard {
    margin-top: 20px;
}

.msgList .uName, .msgList .reply {
    color: #1875d1;
}

.giveMsg {
    margin-top: 30px;
    margin-bottom: 30px;
}

.giveMsg .sent-btn {
    margin-top: 10px;
}

.msgList {
    margin-bottom: 20px;
}

/**/
@charset "utf-8";
/* CSS Document */

.constant {
    width: 100%;
    height: auto;

    position: relative;
    overflow: hidden;
}

/* banner */
.banner {
    width: 1000px;
    margin: 0 auto;
    height: 500px;
    position: relative;
}

.banner_bg, .banner_h1, .banner_h2, .banner_btn, .banner_copy, .banner_star, .banner_copy .bcopy {
    position: absolute;
    z-index: 2;
}

.banner_bg {
    top: 0;
    left: 9px;
    width: 1029px;
    height: 500px;

    text-indent: -999em;
    z-index: 1;
    overflow: hidden;
}

.banner_h1 {
    top: 36px;
    left: 78px;
    width: 850px;
    height: 108px;
    text-indent: -999em;
    overflow: hidden;
}

.banner_h2 {
    top: 200px;
    left: 121px;
    width: 759px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 30px;
    color: #995D00;

    overflow: hidden;
}

.banner_h2 span {
    font-size: 20px;
    color: #805108;
    padding-left: 10px;
    overflow: hidden;
}

.banner_star {
    width: 535px;
    height: 110px;
    top: 8px;
    left: 410px;
    text-indent: -999em;
    display: block;
    z-index: 4;
}

.banner_btn {
    display: block;
    top: 295px;
    left: 308px;
    width: 344px;
    height: 90px;
}

.banner_btn a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.banner_btn a:hover {
    text-decoration: none;
    color: #ff0;
}

.banner_copy {
    top: 415px;
    left: 228px;
    font-size: 24px;
    line-height: 30px;
    color: #FFF8F3;
}

.banner_copy .bcopytext {
    border: 0;
    background: none;
    font-size: 24px;
    height: 30px;
    color: #FFAF5B;
}

.banner_copy .bcopy {
    top: -2px;
    left: 350px;
    display: block;
    width: 77px;
    height: 30px;

    cursor: pointer;
    text-indent: -999em;
    overflow: hidden;
}

/* main */
.main {
    width: 910px;
    padding: 140px 0px 30px 0px;
    margin: 0 auto;
}

.w160 {
    width: 160px;
}

.w185 {
    width: 185px;
}

.section {
    height: 417px;
    width: 910px;
    position: relative;
    margin-bottom: 150px;
}

.section.no {
    margin-bottom: 50px;
    *margin-bottom: 25px;
}

.section_tit {
    position: absolute;
    top: -50px;
    left: 210px;
    width: 492px;
    height: 80px;
    line-height: 60px;
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
}

.section_tit.title01 {
    left: 365px;
    top: -50px;
    height: 80px;
}

.section_tit.title02 {
    left: 65px;
    top: -50px;
}

.section_tit span {
    display: block;
    font-size: 26px;
    margin: auto;
    overflow: hidden;
}

.section_tit span.stit01 {
    width: 389px;

}

.section_tit span.stit02 {
    width: 404px;
}

.section_tit span.stit03 {
    width: 189px;
}

.section_tit span.stit04 {
    width: 325px;
}

/* con common */
.con_text {
    font-size: 20px;
    line-height: 36px;
    color: #502900;
    position: relative;
    z-index: 3;
}

.con_pcopy {
    color: #b63b00;
    width: 325px;
    height: 38px;
    background: #f1d9b6;
    border: 1px dotted #b63b00;
    font-size: 20px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.con_pcopy i.fl {
    padding-left: 20px;
}

.con_pcopy input {
    border: 0;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: #b63b00;
    background: none;
}

.con_pcopy span, .con_pcopy a {
    float: right;
    width: 80px;
    height: 34px;
    line-height: 34px;
    margin: 1px 1px 0 0;
    background: #b63b00;
    border-radius: 14px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

/* con01 */
.con01 {
    padding: 50px 0px 0 35px;
}

.con01 dt {
    float: left;
    width: 260px;
    height: 329px;
    text-indent: -999em;
    overflow: hidden;
}

.con01 dd {
    float: right;
    width: 590px;
    padding: 10px 0 0 0;
}

.con01 dd strong {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

.con01 dd b {
    font-size: 40px;
    color: #b63b00;
    line-height: 60px;
}

/* con02 + con04 */
.con02_4 {
    padding: 65px 0 0 40px;
}

.con02_4 dt {
    text-align: center;
}

.w650 {
    width: 650px;
}

.con02_4 dt b {
    font-size: 22px;
}

.con02_4 dd {
    position: absolute;
}

.con02_4 dd.pp_img {
    width: 260px;
    height: 280px;
    top: -60px;
    right: 30px;
    z-index: 2;
    text-indent: -999em;
    overflow: hidden;
}

.con02_4 dd.hb_img {
    width: 190px;
    height: 252px;
    z-index: 2;
    left: 15px;
    top: 25px;
    overflow: hidden;
    text-indent: -999em;
}

.con02_4 dd.qq_box {
    width: 829px;
    padding-top: 26px;
    left: 40px;
    bottom: 38px;
    overflow: hidden;
    z-index: 1;
}

.con02_4 dd.qq_box .ptext {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #333;
}

.con02_4 dd.qq_box .ptext b {
    color: #b63b00;
}

.con02_4 .box_btns {
    width: 600px;
    margin: 0 auto;
}

.con02_4 .box_btns .btn {
    float: left;
    width: 245px;
    height: 62px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin: 4px 0;
}





.con02_4 .box_btns .btn:hover, .con02_4 .box_btns .btn a:hover {
    text-decoration: none;
    color: #ff0;
    opacity: 0.9;
}

.con02_4 .con_pcopy {
    float: right;
    margin-top: 13px;
    height: 41px;
    line-height: 41px;
    border-radius: 20px;
}

.con02_4 .con_pcopy span, .con02_4 .con_pcopy a {
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
}

/* con03 */
.con03 {
    width: 830px;
    margin: 0 auto;
    padding-top: 75px;
}

.con03 table {
    width: 830px;
    color: #505050;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    overflow: hidden;
}

.con03 table th, .con03 table td {
    height: 40px;
    font-weight: normal;
}

.con03 table th {
    background: #e0be8e;
    text-align: center;
    border-right: 1px solid #C8C8B2;
}

.con03 table td {
    background: #fff7db;
    border-right: 1px solid #C8C8B2;
    border-bottom: 1px solid #C8C8B2;
}

.con03 dl {
    width: 680px;
    margin: 16px auto 0;
}

.con03 dl dt {
    float: left;
    width: 420px;
    text-align: center;
}

.con03 .ptext {
    font-size: 28px;
    line-height: 30px;
    color: #333;
}

.con03 .con_pcopy {
    margin: 7px auto 0;
}

.con03 .con_pcopy input {
    border: 0;
    width: 110px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    color: #b63b00;
    background: none;
}

.con03 dl dd, .con03 dl dd a {
    float: right;
    width: 245px;
    height: 62px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 28px;
}

.con03 dl dd {
    margin-top: 10px;
}



.con03 dl dd a:hover {
    text-decoration: none;
    color: #ff0;
    opacity: 0.9;
}

/* footer */
.foot {
    padding-bottom: 100px;
}

/* 页面动态效果 */
.banner_h1 {
    -moz-animation: bounceInDown 2s .1s ease both;
    -webkit-animation: bounceInDown 2s .1s ease both;
    animation: bounceInDown 2s .1s ease both;
}

.banner_h2, .banner_copy {
    -moz-animation: bounceInUp 3s .1s ease both;
    -webkit-animation: bounceInUp 3s .1s ease both;
    animation: bounceInUp 3s .1s ease both;
}

.banner_bg {
    -moz-animation: bounceInDowns .6s .1s ease both;
    -webkit-animation: bounceInDowns .6s .1s ease both;
    animation: bounceInDowns .6s .1s ease both;
}

.banner_star {
    -moz-animation: bounceInscale 4s .1s ease both;
    -webkit-animation: bounceInscale 4s .1s ease both;
    animation: bounceInscale 4s .1s ease both;
}

.banner_btn {
    -moz-animation: bounceInUp 3.5s .1s ease both;
    -webkit-animation: bounceInUp 3.5s .1s ease both;
    animation: bounceInUp 3.5s .1s ease both;
}

.banner_btn a {
    -moz-animation: bounceInbtn .8s 1.5s ease infinite;
    -webkit-animation: bounceInbtn .6s 1.5s ease infinite;
    animation: bounceInbtn .6s 1.5s ease infinite;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-50px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-50px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(50px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes bounceInDowns {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInDowns {
    0% {
        opacity: 1;
        -moz-transform: translateY(-30px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-webkit-keyframes bounceInUps {
    0% {
        opacity: 1;
        -webkit-transform: translateY(30px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInUps {
    0% {
        opacity: 1;
        -moz-transform: translateY(30px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-moz-keyframes bounceInscale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9)
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9)
    }
    83% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    89% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    90% {
        opacity: 0;
        -webkit-transform: scale(1, 1)
    }
    91% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    98% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    99% {
        opacity: 0;
        -webkit-transform: scale(1, 1)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
}

@-webkit-keyframes bounceInscale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9)
    }
    70% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9)
    }
    83% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    89% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    90% {
        opacity: 0;
        -webkit-transform: scale(1, 1)
    }
    91% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    98% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
    99% {
        opacity: 0;
        -webkit-transform: scale(1, 1)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1)
    }
}

@-webkit-keyframes bounceInbtn {
    0% {
        opacity: 1;
        -webkit-transform: translateY(1px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-13px)
    }
    100% {
        -webkit-transform: translateY(-18)
    }
}

@-moz-keyframes bounceInbtn {
    0% {
        opacity: 1;
        -webkit-transform: translateY(1px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(-13px)
    }
    100% {
        -webkit-transform: translateY(-18)
    }
}